* {
  box-sizing: border-box;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  background: aquamarine;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 150px;
  height: 70px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav__btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav__btn-login {

}
.nav__btn-create {
  display: none;
}
.filter {
  display: flex;
}
.filter__text {
  display: flex;
  padding: 5px;
}
.filter__text-input {
  align-items: center;
}
.filter__text-btn {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin-left: 5px;
  background-size: contain;
  /*background-image: url("../img/search.svg");*/
  background-repeat: no-repeat;
  background-position: center;
}
.filter_status {
  display: flex;
  padding: 5px;
,
margin-left: 10px;
}
.filter_priority {
  display: flex;
  padding: 5px;
  margin-left: 10px;
}
.cards-container {

}
.cards__no-items {
  margin: 5px;
}

#our_modal.open .overlay_modal,
#our_modal.open .modal_window{
  opacity: 1;
  z-index: 2;
}

.modal_window,
.overlay_modal {
  opacity: 0;
  z-index: -1;
}

.overlay_modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: aliceblue;
}

.modal_window {
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  padding: 10px;
  margin: 50px auto;
}

.extra {
  width: 100%;
  border: none;
}

.hide{
  display: none;
}

.btn-create_visit {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background: #20c0ff;
  padding: 10px;
  color: #000000;
  font-weight: 600;
}

.select_modal,
.select_modal_p {
  text-align: center;
  width: 60%;
  outline: none;
  border: 3px solid darkcyan;
  border-radius: 5px;
  /*margin-bottom: 5px;*/
}

.select_modal_p {
  width: 75%;
}

.btn-create_visit {
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background: #20c0ff;
  padding: 10px;
  color: #000000;
  font-weight: 600;
}

.footer_modal {
  text-align: center;
  padding-bottom: 20px;
}

.fieldset_doctor {
  border: none;
}

.extra {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input_email {
  margin-top: 10px;
}

#btn_login {
  margin-bottom: 15px;
}

.p_mod {
  display: inline-block;
  margin-bottom: 10px;
}

.select_modal {
  width: 100%;
  border: none;
  outline: none;
  padding: 7px 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.35), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
  resize: none;
}


.hide {
  opacity: 0;
}

.fieldset_doctor {
  width: 100%;
}

.card-wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.card {
  background-color: #f5f5f5;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.3), inset 5px 5px 10px rgba(0, 0, 0, 0.5), inset 5px 5px 10px rgba(255, 255, 255, 0.2), inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  padding: 30px;
}

.card__top {
  padding-bottom: 1em;
}

.top__item {
  display: block;
  padding-bottom: 0.6em;
}

.btn-show-more {
  border: none;
  cursor: pointer;
  background-color: #f5f5f5;
}

.top__item,
.more-info__item {
  display: block;
  padding-bottom: 0.6em;
  font-weight: 600;
}

.more-info__item[data-item]::before,
.top__item[data-item]::before {
  font-size: 0.8em;
  color: #707070;
}

.top__item[data-item="id"]::before {
  content: "id: ";
}
.top__item[data-item="statusCard"]::before {
  content: "Статус: ";
}

.top__item[data-item="name"]::before {
  content: "ПІБ: ";
}

.top__item[data-item="doctor"]::before {
  content: "доктор: ";
}

.top__item[data-item="urgency"]::before {
  content: "терміновість: ";
}

.top__item[data-item="aimVisit"]::before {
  content: "мета візиту: ";
}

.top__item[data-item="description"]::before {
  content: "короткий опис: ";
}

.more-info__item[data-item="age"]::before {
  content: "вік: ";
}

.more-info__item[data-item="pressure"]::before {
  content: "тиск: ";
}

.more-info__item[data-item="bmi"]::before {
  content: "індекс маси тіла: ";
}

.more-info__item[data-item="disease"]::before {
  content: "перенесенні захворювання: ";
}

.more-info__item[data-item="date"]::before {
  content: "дата останнього візиту: ";
}

.btn-delete,
.btn-edit {
  float: right;
  margin-left: 0.8em;
  font-size: 0.8em;
  cursor: pointer;
  border: none;
  border-radius: 0.4em;
  color: #ecebeb;
  font-weight: bold;
  padding: 10px;
}

.btn-delete {
  background-color: #770000;
}

.btn-edit {
  background-color: #14779d;
}

.banner-del-card {
  position: fixed;
  top: calc((100vh - 150px) / 2);
  left: calc((100vw - 300px) / 2);
  width: 300px;
  height: 150px;
  text-align: center;
  font-weight: 600;
  padding: 3em;
  color: #d13d3d;
  background-color: #ecebeb;
  border-radius: 0.6em;
  box-shadow: 0.1em 0.1em 0.8em #858585;
}

.collapsed {
  display: none;
}